
.landing{
  display: flex;
  column-gap: 100px;
  margin: 10% 10%;
}
.landing-image{
  width: 50%;
}
.landing-image img{
  object-fit: cover;
  width: 100%;
}
.landing-actions{
  display: flex;
  align-self: center;
  flex-direction: column;
}

.landing-text{
  color: green;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 20px;
}

.landing-actions a{
  align-self: center;
}
.button{
  border-color: green;
  border-radius: 5px;
  color: green;
  background-color: white;
  padding: 15px 40px;
  font-size: 25px;
}